<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
    <title>Change Password</title>
  </head>
  <body>

    <div class="d-flex justify-content-center align-items-center container-otp" id="resend-card">
      <div class="card py-3 px-3">
          <h4 class="mb-2 title-changepass">Change password</h4>
          <% if (errors && errors.length > 0) { %>
            <ul>
              <% errors.forEach(function(error) { %>
                <li><%= error.msg %></li>
              <% }); %>
            </ul>
          <% } %>
          <div class="d-flex flex-row">
          <div class=" changepassword">
              <form action="/change-password" method="POST">
                  <div>
                    <label for="oldPassword">Old Password:</label>
                    <input type="password" id="oldPassword" class="form-control" name="oldPassword" required>
                  </div>
                  <div>
                    <label for="newPassword">New Password:</label>
                    <input type="password" id="newPassword" class="form-control" name="newPassword" required>
                  </div>
                  <div>
                    <label for="confirmPassword">Confirm Password:</label>
                    <input type="password" id="confirmPassword" class="form-control" name="confirmPassword" required>
                  </div>
                  <button type="submit"  id="btn-changepassword">Submit</button></div>
                </form> 
      </div>
  </div>
  </body>
</html>
