<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
    <title>Edit Profile</title>
</head>
<body>
    <div class="d-flex justify-content-center align-items-center h-100">
        <div class="profile">
            <div class="sidebar-profile">
                <h3>Edit Profile</h3>
                <span>Here you can manage your account</span>
                <a href="#" class="profile-focus">Account settings</a>
                <a href="./changpassword.html" class="">Password</a>
            </div>
            
            <div class="main-profile">
                <form action="/edit-profile" method="post">
                    <div class="manage-avatar">
                        <img src="images/meiko.png" alt="">
                        <input type="file" id="image-input">
                        <button type="button" class="btn-select-file" onclick="document.getElementById('image-input').click();">Upload</button>
                        <button type="button" id="delete-button">Delete</button>
                    </div>
                    <label for="fullname">Full Name:</label>
                    <!-- <%= user.fullname %> -->
                    <input type="text" name="fullname" value=""><br>
                    <label for="phone">Phone:</label>
                    <!-- <%= user.phone %> -->
                    <input type="text" name="phone" value=""><br>
                    <label for="address">Address:</label>
                    <!-- <%= user.address %> -->
                    <input type="text" name="address" value=""><br>
                    <label for="birthday">Birthday:</label>
                    <!-- <%= user.birthday.toISOString().slice(0, 10) %> -->
                    <input type="date" name="birthday" value=""><br>
                    <button class="btn-save-edit-profile" type="submit">Save Changes</button>
                </form>
            </div>
        </div>
    </div>
</body>
<script src="javascripts/main.js">
</script>
</html>