<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/e7cea346e1.js" crossorigin="anonymous"></script>
    <!-- <link href='//fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="/stylesheets/style.css">
    <title>Home</title>
</head>
<body data-tittle = "home-email">
    <div class="sidebar">
        <div class="sidebar-brand">
            <h2><span class="fa fa-envelope"></span>Mailer</h2>
        </div>
        <div class="sidebar-menu">
            <ul>
                <li>
                    <a href="#" class="active">
                        <span class="fa fa-inbox"></span>
                        <span>Inbox</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="fa fa-paper-plane"></span>
                        <span>Sent</span>
                    </a>
                </li>
                <li>
                    <a href="#" >
                        <span class="fa fa-trash-o"></span>
                        <span>Drafts</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="label-sidebar">
                        <span>Label</span>
                        <button class="fa fa-plus add-draft btn-label">
                        </button>
                    </a>
                </li>
            </ul>
        </div>

    </div>

    <div class="main-content">
        <header>
            <button type="" class="btn-write-Email">
                <label for="">
                    <span class="fa fa-pencil-square-o"></span>
                </label>
                Compose
            </button>

            <div class="search-wrapper">
                <span class="fa fa-search"></span>
                <input type="search" placeholder="Search here" name="" id="">
            </div>

            <button class="user-wrapper" id="user-wrapper">
                <img src="/images/meiko.png"alt="">
                <div>
                    <h4>Meiko</h4>
                    <small>User</small>
                </div>
            </button>
        </header>
    </div>

    

    <main>
        <div class="sub-header">
            <span class="directional">
                <span>
                    <a href="#" class="back-to-page">
                        <i class="fa fa-angle-left" ></i>
                    </a>
                </span>
        
                <span>
                    <a href="#" class="next-to-page">
                        <i class="fa fa-angle-right" ></i>
                    </a>
                </span>
            </span>
        </div>
        
        <div class="list-email-container">
            <div class="email-zoom-out">
                <input type="checkbox" name="selected-email" id="checkbox-Selected-Email">
                <a href="#" class="email-content">
                    <span>Meiko Ata</span>
                    <span class="email-sub-content">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nulla, commodi! Amet iusto consectetur obcaecati quam id, voluptate repudiandae architecto, nostrum, harum non quo alias enim officia. Aut nisi ipsum molestias?</span>
                    <span class="date-email">Apr 19</span>
                </a>
            </div>
            
            <div class="email-zoom-out">
                <input type="checkbox" name="selected-email" id="checkbox-Selected-Email">
                <a href="#" class="email-content">
                    <span>Meiko Ata</span>
                    <span class="email-sub-content">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nulla, commodi! Amet iusto consectetur obcaecati quam id, voluptate repudiandae architecto, nostrum, harum non quo alias enim officia. Aut nisi ipsum molestias?</span>
                    <span class="date-email">Apr 19</span>
                </a>
            </div>
            
            <div class="email-zoom-out">
                <input type="checkbox" name="selected-email" id="checkbox-Selected-Email">
                <a href="#" class="email-content">
                    <span>Meiko Ata</span>
                    <span class="email-sub-content">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nulla, commodi! Amet iusto consectetur obcaecati quam id, voluptate repudiandae architecto, nostrum, harum non quo alias enim officia. Aut nisi ipsum molestias?</span>
                    <span class="date-email">Apr 19</span>
                </a>
            </div>
            
            <div class="email-zoom-out">
                <input type="checkbox" name="selected-email" id="checkbox-Selected-Email">
                <a href="#" class="email-content">
                    <span>Meiko Ata</span>
                    <span class="email-sub-content">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nulla, commodi! Amet iusto consectetur obcaecati quam id, voluptate repudiandae architecto, nostrum, harum non quo alias enim officia. Aut nisi ipsum molestias?</span>
                    <span class="date-email">Apr 19</span>
                </a>
            </div>
            
            <div class="email-zoom-out">
                <input type="checkbox" name="selected-email" id="checkbox-Selected-Email">
                <a href="#" class="email-content">
                    <span>Meiko Ata</span>
                    <span class="email-sub-content">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nulla, commodi! Amet iusto consectetur obcaecati quam id, voluptate repudiandae architecto, nostrum, harum non quo alias enim officia. Aut nisi ipsum molestias?</span>
                    <span class="date-email">Apr 19</span>
                </a>
            </div>
            
            <div class="email-zoom-out">
                <input type="checkbox" name="selected-email" id="checkbox-Selected-Email">
                <a href="#" class="email-content">
                    <span>Meiko Ata</span>
                    <span class="email-sub-content">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nulla, commodi! Amet iusto consectetur obcaecati quam id, voluptate repudiandae architecto, nostrum, harum non quo alias enim officia. Aut nisi ipsum molestias?</span>
                    <span class="date-email">Apr 19</span>
                </a>
            </div>
            
            <div class="email-zoom-out">
                <input type="checkbox" name="selected-email" id="checkbox-Selected-Email">
                <a href="#" class="email-content">
                    <span>Meiko Ata</span>
                    <span class="email-sub-content">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nulla, commodi! Amet iusto consectetur obcaecati quam id, voluptate repudiandae architecto, nostrum, harum non quo alias enim officia. Aut nisi ipsum molestias?</span>
                    <span class="date-email">Apr 19</span>
                </a>
            </div>
            
            <div class="email-zoom-out">
                <input type="checkbox" name="selected-email" id="checkbox-Selected-Email">
                <a href="#" class="email-content">
                    <span>Meiko Ata</span>
                    <span class="email-sub-content">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nulla, commodi! Amet iusto consectetur obcaecati quam id, voluptate repudiandae architecto, nostrum, harum non quo alias enim officia. Aut nisi ipsum molestias?</span>
                    <span class="date-email">Apr 19</span>
                </a>
            </div>
            
            <div class="email-zoom-out">
                <input type="checkbox" name="selected-email" id="checkbox-Selected-Email">
                <a href="#" class="email-content">
                    <span>Meiko Ata</span>
                    <span class="email-sub-content">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nulla, commodi! Amet iusto consectetur obcaecati quam id, voluptate repudiandae architecto, nostrum, harum non quo alias enim officia. Aut nisi ipsum molestias?</span>
                    <span class="date-email">Apr 19</span>
                </a>
            </div>
            <div class="email-zoom-out">
                <input type="checkbox" name="selected-email" id="checkbox-Selected-Email">
                <a href="#" class="email-content">
                    <span>Meiko Ata</span>
                    <span class="email-sub-content">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nulla, commodi! Amet iusto consectetur obcaecati quam id, voluptate repudiandae architecto, nostrum, harum non quo alias enim officia. Aut nisi ipsum molestias?</span>
                    <span class="date-email">Apr 19</span>
                </a>
            </div>
            
            <div class="email-zoom-out">
                <input type="checkbox" name="selected-email" id="checkbox-Selected-Email">
                <a href="#" class="email-content">
                    <span>Meiko Ata</span>
                    <span class="email-sub-content">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nulla, commodi! Amet iusto consectetur obcaecati quam id, voluptate repudiandae architecto, nostrum, harum non quo alias enim officia. Aut nisi ipsum molestias?</span>
                    <span class="date-email">Apr 19</span>
                </a>
            </div>
            
            <div class="email-zoom-out">
                <input type="checkbox" name="selected-email" id="checkbox-Selected-Email">
                <a href="#" class="email-content">
                    <span>Meiko Ata</span>
                    <span class="email-sub-content">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nulla, commodi! Amet iusto consectetur obcaecati quam id, voluptate repudiandae architecto, nostrum, harum non quo alias enim officia. Aut nisi ipsum molestias?</span>
                    <span class="date-email">Apr 19</span>
                </a>
            </div>
            
            <div class="email-zoom-out">
                <input type="checkbox" name="selected-email" id="checkbox-Selected-Email">
                <a href="#" class="email-content">
                    <span>Meiko Ata</span>
                    <span class="email-sub-content">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nulla, commodi! Amet iusto consectetur obcaecati quam id, voluptate repudiandae architecto, nostrum, harum non quo alias enim officia. Aut nisi ipsum molestias?</span>
                    <span class="date-email">Apr 19</span>
                </a>
            </div>
            
            <div class="email-zoom-out">
                <input type="checkbox" name="selected-email" id="checkbox-Selected-Email">
                <a href="#" class="email-content">
                    <span>Meiko Ata</span>
                    <span class="email-sub-content">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nulla, commodi! Amet iusto consectetur obcaecati quam id, voluptate repudiandae architecto, nostrum, harum non quo alias enim officia. Aut nisi ipsum molestias?</span>
                    <span class="date-email">Apr 19</span>
                </a>
            </div>
            
            <div class="email-zoom-out">
                <input type="checkbox" name="selected-email" id="checkbox-Selected-Email">
                <a href="#" class="email-content">
                    <span>Meiko Ata</span>
                    <span class="email-sub-content">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nulla, commodi! Amet iusto consectetur obcaecati quam id, voluptate repudiandae architecto, nostrum, harum non quo alias enim officia. Aut nisi ipsum molestias?</span>
                    <span class="date-email">Apr 19</span>
                </a>
            </div>
            
            <div class="email-zoom-out">
                <input type="checkbox" name="selected-email" id="checkbox-Selected-Email">
                <a href="#" class="email-content">
                    <span>Meiko Ata</span>
                    <span class="email-sub-content">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nulla, commodi! Amet iusto consectetur obcaecati quam id, voluptate repudiandae architecto, nostrum, harum non quo alias enim officia. Aut nisi ipsum molestias?</span>
                    <span class="date-email">Apr 19</span>
                </a>
            </div>
            
            <div class="email-zoom-out">
                <input type="checkbox" name="selected-email" id="checkbox-Selected-Email">
                <a href="#" class="email-content">
                    <span>Meiko Ata</span>
                    <span class="email-sub-content">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nulla, commodi! Amet iusto consectetur obcaecati quam id, voluptate repudiandae architecto, nostrum, harum non quo alias enim officia. Aut nisi ipsum molestias?</span>
                    <span class="date-email">Apr 19</span>
                </a>
            </div>
            
            <div class="email-zoom-out">
                <input type="checkbox" name="selected-email" id="checkbox-Selected-Email">
                <a href="#" class="email-content">
                    <span>Meiko Ata</span>
                    <span class="email-sub-content">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nulla, commodi! Amet iusto consectetur obcaecati quam id, voluptate repudiandae architecto, nostrum, harum non quo alias enim officia. Aut nisi ipsum molestias?</span>
                    <span class="date-email">Apr 19</span>
                </a>
            </div>
        </div>
    </main>
    <div class="user-menu display-menu-user">
        <table>
            <tbody>
                <tr class="profile">
                    <td> <a href=""><i class="fa fa-user"></i> Profile</a></td>
                </tr>
                <tr class="setting">
                    <td> <a href=""><i class="fa fa-cog"></i> Setting</a></td>
                </tr>
                <tr class="logout">
                    <td> <a href=""><i class="fa fa-sign-out"></i> Logout</a></td>
                </tr>
            </tbody>
        </table>
    </div>

    <form class="send-email-box display-mail-box">
        <button type="" class="btn-close-mail-box"><i class="fa fa-times"></i></button>
        <h4>New Message</h4>
        <input type="text" id="email" name="email" placeholder="Send to:" required>

        <input type="text" id="subject" name="subject" placeholder="Subject.." required>

        <label for="message">Message:</label>
        <textarea id="message" name="message" placeholder="Write something.." required></textarea>

        <div class="container-btn-send-message">
            <input type="submit" value="Send">
            <input type="file" id="fileInput">
            <button class="btn-select-file fa fa-file" onclick="document.getElementById('fileInput').click();"></button>
        </div>
    </form>

    <div class="container-label-box overlay label-active">
        <div class="new-label-box">
            
            <div class="div-title">
                <span class="title-label-box">New label</span>
                <button type="" class="btn-close-label-box"><i class="fa fa-times"></i></button>
            </div>
            <div class="content-label">
                <span>Please enter a new label name:</span>   
            </div>
            <input type="text" name="label" value="">
            <div class="container-btn">
                <button class="btn-cancel-label"><span>Cancel</span></button>
                <button class="btn-create-label"><span>Create</span></button>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript" src="/javascripts/main.js"></script>
</html>