<!DOCTYPE html>
<html>
  <head>
    <title>Change Password</title>
  </head>
  <body>
    <h1>Change Password</h1>
    <% if (error) { %>
      <p style="color: red;"><%= error %></p>
    <% } %>
    <form action="/change-password" method="post">
      <label for="currentPassword">Current Password</label>
      <input type="password" id="currentPassword" name="currentPassword"><br>

      <label for="newPassword">New Password</label>
      <input type="password" id="newPassword" name="newPassword"><br>

      <label for="confirmPassword">Confirm Password</label>
      <input type="password" id="confirmPassword" name="confirmPassword"><br>

      <button type="submit">Change Password</button>
    </form>
  </body>
</html>
