body {
  font-family: "Roboto", sans-serif;
  background-color: #fff; }

p {
  color: #b3b3b3;
  font-weight: 300; }

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Roboto", sans-serif; }

a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease; }
  a:hover {
    text-decoration: none !important; }

.content {
  padding: 7rem 0; }

h2 {
  font-size: 30px; }

.half, .half .container > .row {
  height: 100vh;
  min-height: 700px; }

.half .contents {
  background: #f6f7fc; }

.half .bg {
  width: 25%; }
  @media (max-width: 767.98px) {
    .half .bg {
      width: 100%;
      height: 200px; } }

.half .contents {
  width: 75%; }
  @media (max-width: 767.98px) {
    .half .contents {
      width: 100%; } }

.half .contents .form-control, .half .bg .form-control {
  border: none;
  border-radius: 4px;
  height: 54px;
  background: #efefef; }
  .half .contents .form-control:active, .half .contents .form-control:focus, .half .bg .form-control:active, .half .bg .form-control:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none; }

.half .bg {
  background-size: cover;
  background-position: center; }

.half a {
  color: #888;
  text-decoration: underline; }

.half .btn {
  height: 54px;
  padding-left: 30px;
  padding-right: 30px; }

.half .forgot-pass {
  position: relative;
  top: 2px;
  font-size: 14px; }

.form-block {
  background: #fff;
  padding: 30px 15px;
  max-width: 400px;
  -webkit-box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.2); }
  @media (max-width: 767.98px) {
    .form-block {
      padding: 25px; } }

.control {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 14px; }
  .control .caption {
    position: relative;
    top: .2rem;
    color: #888; }

.control input {
  position: absolute;
  z-index: -1;
  opacity: 0; }

.control__indicator {
  position: absolute;
  top: 2px;
  left: 0;
  height: 20px;
  width: 20px;
  background: #e6e6e6;
  border-radius: 4px; }

.control--radio .control__indicator {
  border-radius: 50%; }

.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
  background: #ccc; }

.control input:checked ~ .control__indicator {
  background: #fb771a; }

.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
  background: #fb8633; }

.control input:disabled ~ .control__indicator {
  background: #e6e6e6;
  opacity: 0.9;
  pointer-events: none; }

.control__indicator:after {
  font-family: 'icomoon';
  content: '\e5ca';
  position: absolute;
  display: none;
  font-size: 16px;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease; }

.control input:checked ~ .control__indicator:after {
  display: block;
  color: #fff; }

.control--checkbox .control__indicator:after {
  top: 50%;
  left: 50%;
  margin-top: -1px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.control--checkbox input:disabled ~ .control__indicator:after {
  border-color: #7b7b7b; }

.control--checkbox input:disabled:checked ~ .control__indicator {
  background-color: #7e0cf5;
  opacity: .2; }

.btn-login {
  width: 100%;
  background: #FB771A;
  border: none;
  margin-top: 10px;
}

.forgot-pass {
  padding-left: 89px;
}

.form-control-signup {
  height: 30px !important;
}

.form-group-padding-bottom {
  margin-bottom: 0;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.form-group-padding-bottom label {
  margin: 0;
}

.form-group-padding-bottom input {
  margin: 0;
}

.login label {
  padding-bottom: 2px;
  display: flex;
}

input#phone-number {
  font-size: medium;
}

/* OTP */


@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

button {
	border-radius: 20px;
	border: 1px solid #FF4B2B;
	background-color: #FF4B2B;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

button:active {
	transform: scale(0.95);
}

button:focus {
	outline: none;
}

button.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}

.login form {
  padding: 0 13px;
}

.register {
  padding: 0 13px !important;
}

form {
	background-color: #FFFFFF;
	display: flex;
	flex-direction: column;
	padding: 0 20px;
	text-align: center;
}

input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
}

/* OTP */
.card {
	width: 350px;
	padding: 10px;
	border-radius: 20px !important;
	background: #fff;
	border: none;
	height: 350px;
	position: relative;
	box-shadow: 20px 20px 10px grey;
  }
  
  .container-otp {
	height: 100vh;
  }
  
  body {
	background: #e5e5e5 !important;
  }
  
  .mobile-text {
	color: #989696b8;
	font-size: 15px;
  }
  
  .form-control {
	margin-right: 12px;
  }
  
  .form-control:focus {
	color: #495057;
	background-color: #fff;
	border-color: #ff8880;
	outline: 0;
	box-shadow: none;
  }
  
  .cursor {
	cursor: pointer;
  }

  #btn-resend {
	margin-top: 18px;
    border-radius: 40px;
	margin-bottom: 18px;
  }

  #btn-submit {
	margin-top: 18px;
    border-radius: 40px;
	margin-bottom: 18px;
  }

  .display-active {
	display: none !important;
  }

/* -------------------------------HOME--------------------------------------- */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

.sidebar {
  width: 300px;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  background: #a7c8f7;
  z-index: 100;
}

.sidebar-brand {
  height: 90px;
  padding:1rem 0rem 1rem 3rem;
  color: black;
}

.sidebar-brand span {
  display: inline-block;
  padding-right: 2rem;
}

.sidebar-menu li {
  width: 100%;
  margin-bottom: 2rem;
  padding-left: 3rem;
}

.sidebar-menu a {
  display: block;
  color: black;
  font-size: 1.4rem;
  padding-left: 2rem;
}

.sidebar-menu a.active{
  background: #fff ;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  color: black;
  border-radius: 20px;
  margin-right: 2rem;
  font-weight: 600;
}

.sidebar-menu a span {
  font-size: 1.7rem;
  padding-right: 2rem;
}

.main-content {
  margin-left: 345px;
}

header {
  display: flex;
  justify-content: normal;
  padding: 2rem 3rem;;
  position: fixed;
  left: 300px;
  width: calc(100% - 300px);
  top: 0;
  z-index: 100;
  background-color: #EAF1FB;
}

.search-wrapper {
  border: 1px solid rgb(204, 204, 204);
  border-radius: 30px;
  height: 45px;
  display: flex;
  align-items: center;
  overflow-x: hidden;
  overflow-y: hidden;
  margin-top: 7px;
  margin-right: 250px;
  margin-left: 35px;
  min-width: calc(100% - 600px);
  background-color: white;
}



.search-wrapper input {
  width: 100%; 
  border: 1px solid #0066FF;
  border-radius:30px 0px 0px 30px;
}



.search-wrapper span {
  display: inline-block;
  padding: 0rem 1rem 0rem 3rem;
  font-size: 1.5rem;
}

.search-wrapper input {
  height: 100%;
  padding: .5rem;
  border: none;
  outline: none;
  background-color: white;
}

.user-wrapper {
  display: flex;
  align-items: center;
  position: fixed;
  padding: 10px 10px;
  border-radius: 20px;
  top: 22px;
  right: 100px;
  background-color: #fff;
  border: 1px solid rgb(236, 234, 234);
}

.user-wrapper h4 {
  margin-bottom: 0px;
}

.user-wrapper img {
  object-fit: cover;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-right: 1rem;
}

.user-wrapper small {
  display: inline-block;
  color: grey;
}

span.add-draft {
  margin-left: 125px;
}

.btn-write-Email {
  padding: 15px 25px 10px 20px;
  border: none;
  background: #99FFFF;
  border-radius: 10px;
  font-weight: 600;
  color: black;
  font-size: larger;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}

.btn-write-Email span {
  font-size: large;
  padding-right: 10px;
}

main {
  margin-top: 140px;
  padding: 0rem 1.5rem;
  background: #f0f0f0;
  min-height: calc(100vh - 90px);
  position: fixed;
  left: 300px;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
}

.list-email-container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.email-zoom-out {
  display: flex;
  padding: 15px;
  font-size: medium;
  border-top: 1px inset #fdfdfd;
  border-bottom: 1px outset #eeeded;
  width: 100%;
  justify-content: flex-start;
  flex-shrink: 0;
}

.email-zoom-out:hover {
  box-shadow: 2px 2px 7px rgba(0,0,0,0.2);
  background-color: #d9f2f6;
}

#checkbox-Selected-Email {
  margin-right: 15px;
}

.email-zoom-out span.email-sub-content {
  width: 60%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 30px;
}

a.email-content {
  display: contents;
  color: #000;
  text-decoration: none;
  
}

.date-email {
  padding-left: 20px;
}

.sub-header {
  /* display: inline-block; */
}

.directional {
  font-size: large;
  position: fixed;
  right: 70px;
  top: 107px;
} 

.back-to-page {
  margin-top: 20px;
  padding: 5px 12px;
}

.back-to-page:hover {
  border-radius: 50%;
  background-color: rgb(82, 215, 242);
}

.next-to-page{
  margin-top: 20px;
  padding: 5px 12px;
  margin-left: 10px;
}

.next-to-page:hover {
  border-radius: 50%;
  background-color: rgb(82, 215, 242);
}

.user-menu {
  z-index: 1000;
  position: fixed;
  font-size: 15px;
  border-radius: 10px;
  top: 112px;
  right: 50px;
  background-color: lightblue;
  padding: 15px 30px 0px 30px;
}

.user-menu td {
  padding-bottom: 10px;
}

.user-menu td i{
  padding-bottom: 20px;
}

.user-menu a {
  text-decoration: none;
}

.user-menu .fa {
  padding-right: 15px;
}

/* Send Mail Box */

form.send-email-box {
  bottom: 0;
  right: 30px;
  position: fixed;
  width: 600px;
  margin: 0 auto;
  background-color: #fff;
  padding: 10px 20px 20px 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  margin-top: 50px;
  min-height: 500px;
}



h4 {
  font-weight: 600;
  color: black;
  font-size: 15px;
}

form {
  display: flex;
  flex-direction: column;
}

.send-email-box label {
  margin-bottom: 5px;
  color: #aeadad;
  font-weight: bold;
  width: fit-content;
}

.send-email-box input[type="text"], textarea {
  padding: 10px;
  margin-bottom: 15px;
  border: none;
  border-radius: 3px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

input[type="text"]:focus-visible, textarea:focus-visible {
  outline: none;
}

.send-email-box textarea {
  height: 230px;
  resize: none;
}

.btn-label {
  background-color: #a7c8f7;
  border: none;
  position: absolute;
  width: 30px;
  height: 30px;
  padding: 0;
  margin-left: 135px;
  color: #000;
}

.btn-label:hover {
  background-color: rgb(183, 182, 182);
}

.label-sidebar {
  position: relative;
}

.send-email-box input[type="submit"] {
  padding: 10px;
  background-color: #1a73e8;
  color: #fff;
  border: none;
  border-radius: 25px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  width: 100px;
  margin-top: 15px;
  position: absolute;
  left: 26px;
  bottom: -50px;
}

.send-email-box .btn-select-file {
  position: absolute;
  left: 138px;
  width: 15px;
  padding: 10px 20px;
  bottom: -40px;
  background-color: #fff;
  border: none;
}

.fa-file {
  color: grey;
  font-size: 18px;
}

.send-email-box input[type="submit"]:hover {
  background-color: #0d47a1;
}

button.btn-close-mail-box {
  height: 30px;
  width: 30px;
  position: fixed;
  right: 45px;
  top: 300px;
  border: none;
  background-color: #fff;
}


i.fa.fa-times {
  color: #000;
  position: absolute;
  top: 4px;
  right: 4px;
  width: fit-content;
  font-size: 15px;
}

.display-mail-box {
  display: none;
}

.display-menu-user {
  display: none;
}

.container-label-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 100;
  position: fixed;
  justify-content: center;
}

.new-label-box {
  justify-content: center;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 500px;
  height: 220px;
  position: relative;
  border-radius: 12px;
}

.new-label-box button.btn-close-label-box{
  padding: 10px;
  width: 15px !important;
  position: absolute;
  top: 5px;
  right: 10px;
  height: 15px !important;
  background-color: #fff;
  border: none;
}

.overlay {
  position: fixed; /* giữ lớp ở vị trí tuyệt đối trên toàn màn hình */
  top: 0;
  left: 0;
  width: 100%; /* chiều rộng của lớp bằng chiều rộng của màn hình */
  height: 100%; /* chiều cao của lớp bằng chiều cao của màn hình */
  background-color: rgba(0, 0, 0, 0.5); /* màu nền với độ mờ là 0.5 */
  z-index: 9999; /* đặt lớp này ở phía trên tất cả các phần tử khác */
}

.title-label-box {
  font-size: 25px;
  font-weight: 600;
  margin-left: 20px;
  padding-bottom: 20px;
}

.content-label {
  padding: 0 20px;
}

.new-label-box input {
  outline: solid 1px rgb(120, 120, 120);
  width: 80%;
  padding-left: 20px;
  margin-left: 20px;
  border-radius: 3px;
}

.new-label-box input:focus-visible {
  outline: solid 2px rgb(0, 0, 0);
}

.btn-cancel-label{
  width: 15px;
  position: absolute;
  bottom: 10px;
  color:rgb(0, 0, 0);
  background-color: #fff;
  right: 110px;
  border: none;
  height: 40px;
}

.btn-cancel-label span {
  display: flex;
  justify-content: center;
  text-transform: none;
  font-size: 13px;
}

.btn-cancel-label:hover {
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  color: #fff;
  background-color: grey;
}

.btn-create-label{
  width: 15px;
  position: absolute;
  bottom: 10px;
  background-color: #1291e9;
  right: 10px;
  border: none;
  height: 40px;
}

.btn-create-label span {
  display: flex;
  justify-content: center;
  text-transform: none;
  font-size: 13px;
}

.btn-create-label:hover {
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
}

.container-btn {
  margin-top: 60px;
}

.div-title {
  padding-bottom: 20px;
}

.label-active {
  display: none !important;
}

.container-btn-send-message {
  position: relative;
}

#fileInput {
  display: none;
}

/* ----------------------------------CHANGE PASSWORD -----------------------------------------*/
.changepassword form {
  padding: 0 15px;
  position: relative;
}

.changepassword input {
  width: 280px;
}

.changepassword label {
  display: flex;
}

#btn-changepassword {
  margin-top: 18px;
  border-radius: 40px;
  margin-bottom: 18px;
  width: 112px;
  padding: 10px 25px;
  position: absolute;
  bottom: -90px;
  right: 15px;
}

.title-changepass {
  margin-left: 15px;
  padding-bottom: 15px;
}


/* --------------------------------------------PROFILE-------------------------------------------- */

.profile {
  width: 70%;
  padding: 10px;
  border-radius: 20px;
  background: #fff;
  height: 690px;
  top: 15px;
  position: relative;
  box-shadow: 20px 20px 10px grey;
}

.sidebar-profile {
  width: 40%;
  display: flex;
  flex-direction: column;
  padding: 15px 30px;
}

.sidebar-profile h3 {
  font-weight: 600;
}

.sidebar-profile span {
  padding-bottom: 30px;
}

.sidebar-profile a {
  text-decoration: none;
  padding: 5px 0;
  font-weight: 600;
  color: #212529;
}

.profile-focus {
  color: #ff2600 !important;
  font-weight: 700 !important;
}
.main-profile {
  width: 75%;
  margin-left: 23%;
  position: relative;
  top: -80px;
}

.main-profile input {
  border: 1.5px solid grey;
  background: white;
  height: 35px;
  width: 500px;
  border-radius: 6px;
}

.main-profile form {
  padding: 0 15px !important;
  align-items: flex-start;
}

.manage-avatar {
  display: flex;
  flex-direction: row;
  padding-bottom: 25px;
}

.manage-avatar img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

#delete-button {
  background: white;
  color: black;
  width: 25px;
  font-size: 14px;
  height: 35px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-weight: 600;
  border: 1.5px solid #212529;
  position: relative;
  top: 32px;
  left: 40px;
}

#delete-button:hover {
  background-color: rgb(189, 189, 189);
  color: white;
  border: none;
}

.btn-select-file {
  background: #FF4B2B;
  color: white;
  width: 25px;
  height: 35px;
  font-size: 14px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-weight: 600;
  border: none;
  position: relative;
  top: 32px;
  left: 25px;
}

.btn-select-file:hover {
  opacity: 0.8;
}

#image-input {
  display: none;
}

.btn-save-edit-profile {
  width: 130px;
  padding: 8px 10px;
  border-radius: 8px;
  font-weight: 500;
  font-size: 14px;
}

.btn-save-edit-profile:hover{
  opacity: 0.8;
}

.main-profile input:focus-visible {
  border: 2px solid rgb(52, 126, 255);
}